<header class="header">
  <div class="header__wrapper">
    <div class="header__container-wide">
      <div class="header__row">
        <a href="#" class="header__logo logo">MNTN</a>
        <div class="header__nav">
          <ul class="header__list">
            <li class="header__list-item"><a class="header__list-link" href="#">Equipment</a></li>
            <li class="header__list-item"><a class="header__list-link" href="#">About us</a></li>
            <li class="header__list-item"><a class="header__list-link" href="#">Blog</a></li>
          </ul>
        </div>

        <a class="header__account" href="#">Account</a>

        <button class="header__burger">
          <span class="header__burger-icon"></span>
        </button>

        <div class="header__mobile">
          <div class="header__mobile-nav">
            <ul>
              <li><a href="#">Equipment</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
          <a href="#" class="header__account-link">Account</a>
        </div>
      </div>
    </div>
  </div>

  <a href="#scroll" class="header__hero">
    <div class="header__hero-category">A Hiking guide</div>
    <h1 class="header__hero-title">Be prepared for the Mountains and beyond!</h1>
    <p class="header__hero-scroll">scroll down</p>
  </a>
</header>
